.bar {
    display: inline-block;
    width: 10px;
    margin: 2px;
    background-color: blue;
    height: 20px;
    transition: height 0.2s ease;
}

/* Style des barres sélectionnées */
.bar.selected {
    background-color: red;
}

/* Style du conteneur */
#bars {
    height: 1000px;
    overflow-x: scroll;
    white-space: nowrap;
}
